

#carte{
    width:40rem;
    background-image: url("../image/carteDesign.png");
    background-size: 40rem;
    padding-top: 7.7rem;
    border: solid lightgray 0.1rem;
    -webkit-box-shadow: 3px 10px 20px 1px #545454;
    box-shadow: 3px 10px 20px 1px #545454; 
    border-radius: 1rem;
}


#carte p{
    margin-left: 13rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#marseille, #showLastname, #showFirstname{
    color:white;
}

#showSlogan, p{
    color:#2ab2f4;
}

#carte p:last-of-type{
    margin-top: -2rem;
}

.flexIn{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 5rem;
  }

  h1{
      text-align: center;
      color:#2ab2f4;
      font-family: 'Open Sans', sans-serif;
  }

  #firstname, #lastname, #slogan{
      margin:2rem 2rem;
  }

  #submit{
    margin: 0 auto;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
#submit:hover {
	background-color:#019ad2;
}
#submit:active {
	position:relative;
	top:1px;
}
