<main>
    <h1>Nous créons Marseille, à travers de cartes uniques, vous offrant des avantages uniques</h1>
    <h2>Services</h2>
    <p>Une carte d'identité marseillaise bleue et blanche aux couleurs de la ville. Fondée par 4 marseillais amoureux de leurs villes, au travers de cette carte nous souhaitons exporter marseille dans le monde entier.</p>

    <p>L’association Ambassade de Marseille lance la « carte d’identité marseillaise ». Une carte bleue et blanche aux couleurs de la ville et de l’OM. Une façon ludique pour l’association de faire la promotion de la culture et du savoir-vivre marseillais auprès des touristes.
    </p>
    Notre équipe
    <p>Notre équipe est composée de 4 marseillais uniques : Rachid, Manu, Rayan et Yacine.</p>

    <a href="contact.php">Contactez nous</a>
    
</main>