<main>

<h1>Personnalisez votre carte d'identité Marseillaise !</h1>


<section class="flexIn">

    <section id="carte">
        <p >- <span id="showFirstname"></span> </p>
        <p >- <span id="showLastname"></span> </p>
        <p id="marseille">MARSEILLE</p>
        <p >- <span id="showSlogan"></span> </p>
        
    </section>

    <form action="" method="POST">
        <section>
            <input id="firstname" name="firstname" type="text" placeholder="Prénom">
            <input id="lastname" name="lastname" type="text" placeholder="Nom">
        </section> 
        
        <section>
            <select name="slogan" id="slogan">
                <option value="">Choisissez votre slogan!</option>
                <option value="À JAMAIS LES PREMIERS">À JAMAIS LES PREMIERS</option>
                <option value="ON CRAINT DEGUN">ON CRAINT DEGUN</option>
                <option value="T’ES FADAS!">T’ES FADAS!</option>
                <option value="AMOUREUX DE MARSEILLE">AMOUREUX DE MARSEILLE</option>
                <option value="PLEIN Y’EN A ASSEZ">PLEIN Y’EN A ASSEZ</option>
            </select>
        </section>
        <input type="file" name="fileUpload" id="fileUpload" onchange="readURL(this);" /><br />

        <input id="submit" type="submit" value="Confirmer">
    </form>
</section>    


</main>

<script src="js/main.js"></script>