<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/00fca59a8b.js" crossorigin="anonymous"></script>
    <!-- FAVICON -->
    <link rel="icon" href="" />
    <title>Document</title>
</head>
<body>
    <header>
        <i class="fas fa-bars"></i>
        <a href="index.php"><img src="image/ambassadedemarseille_logo.png" alt="logo"></a>
        <a href="carte.php">PERSONNALISER MA CARTE</a>
    
    </header>

    <footer>
        <ul>
            <a href=""><li>CGV</li></a>
            <li>
                <a href="https://www.facebook.com/AmbassadeDeMarseille1/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://mobile.twitter.com/ambassadedemar2"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/ambassade_demarseille/"><i class="fab fa-instagram"></i></a>
            </li>
            <a href="contact.php"><li>CONTACT</li></a>
        </ul>
        <a href="#">copyright</a>
    
    </footer>
    
</body>
</html>